# ------------------------------
# Node.js / pnpm
node_modules/

# Build outputs
build/
dist/
web-bundles/
*.tsbuildinfo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing
coverage/

# Environment variables
# .env
# .env.*.local
# !.env.example

# IDE / Editor folders
.idea/
.vscode/

# OS / Misc
.DS_Store
Thumbs.db

# Next.js (if used)
.next/
