version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - '${BACKEND_PORT}:${BACKEND_PORT}'
    env_file:
      - ./apps/backend/.env
    depends_on:
      - postgres
    volumes:
      - ./apps/backend:/usr/src/app
      - /usr/src/app/node_modules # Anonymous volume to avoid overwriting node_modules

  postgres:
    image: postgres:15
    ports:
      - '${DB_PORT}:5432'
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      retries: 5

volumes:
  postgres_data:
